body{
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    overflow-x: hidden;
    background-color: #3f3e3e;
}
*{
    cursor: default;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: "Poppins", serif;
}
nav{
    width: 100%;
    padding: 20px 50px;
    background-color: black;
    margin: 0px;
}
nav h2{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}
nav h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    position: absolute;
    right: 175px;
    margin-top: -28px;
    font-size: 14px;
    cursor: pointer;
}
nav h3:hover{
    text-decoration: underline;
    transition: 0.5s ease;

}
nav button{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid black;
    background: #3f3e3e;
    float: right;
    color: black;
    margin-right: 100px;
    margin-top: -38px;
    cursor: pointer;
}
nav button:hover{
    background-color: #ffffff;
    transform: scale(0.98);
    text-decoration: underline;
    transition: 0.5s ease;
}
.first{
    width: 100%;
    height: 90vh;
    border-top: 1px solid #3a3939;
    border-bottom: 1px solid #3a3939;
    background: #000;
}
.first img{
    margin: 70px;
    float: right;
    border-radius: 20px;
}
.first .info h1{
    font-size: 50px;
    font-weight: 100;
}
.first .info span{
    font-size: 30px;
    display: block;
}
.first .info{
    max-width: 550px;
    position: absolute;
    margin: 140px;
}
.first .info button{
    position: absolute;
    background: #3f3e3e;
    border: 1px solid black;
    color: black;
    font-weight: 500;
    padding: 12px 60px;
    letter-spacing: 0.8px;
    transition: 0.5s ease;
    border-radius: 25px;
    cursor: pointer;
}
.first .info button:hover{
    background: white;
    color: #3f3e3e;
    transform: scale(1.02);
}
.second{
    background-color: black;
    height: 650px;
    width: 100%;
    border-bottom: 1px solid #3a3939;
    
}
.second .info{
    background: transparent;
    height: 750px;
    width: 40%;
    float: right;
    position: relative;
    margin-top: 80px;
    
}
.second h1 {
    font-weight: 300;
}
.second h2{
    font-weight: 200;
}
.third{
    background-color: black;
    height: 250px;
    width: 100%;
    color: white;
    position: absolute;
    display: flex;
    border-bottom: 1px solid #3a3939;
}
.third .info{
    height: 150px;
    width: 33.33%;
    text-align: center;
    padding-top: 80px;
}
.third .info h3{
    font-weight: 200;
}
.fourth{
    width: 100%;
    background-color: #000;
    position: relative;
    padding: 0px 20px;
    display: flexbox;
    margin: auto;
    margin-top: 251px;
    padding-left: 70px;
    padding-bottom: +20px;
}
.fourth h1{
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: -70px;
    
}
.fourth .box{
    width: 20%;
    height: 300px;
    background: #3f3e3e;
    position: relative;
    display: inline-block;
    margin-right: 50px;
    border-radius: 40px;
    padding: 50px;
}
.fourth .box:hover{
    border: 1.5px solid white;
    transform: scale(1.02);
    transition: 0.3s ease-out;
}
.fourth .box .details{
    font-weight: 700;
    padding-bottom: 50px;
    opacity: 0.6;
}
.fourth img{
    margin: auto;
    margin-top: 50px;
    margin-left: -70px;
    border-top: 1px solid black;
}
.fifth{
    width: 100%;
    height: 200px;
    position: relative;
    background-color: black;
    padding: 50px;
    margin-top: 0px;
    display: flexbox;
    border-bottom: 1px solid #3a3939;
}
.fifth h1{
    font-weight: 200;
}
.review{
    max-width: 300px;
    margin-top: 40px;
    display: inline-block;
    margin-right: 20px;
}
.sixth{
    width: 100%;
    height: 500px;
    background-color: black;
    position: relative;
    border-bottom: 1px solid #3a3939;
}
.sixth .left{
    padding-left: 70px;
    padding-top: 200px;
    float: left;
    width: 50%;
}
.sixth button{
    display: block;
    position: absolute;
    margin-top: 20px;
    background-color: #3f3e3e;
    padding: 12px 60px;
    border-radius: 25px;
    border: 1px solid #000000;    
    color: black;
    cursor: pointer;
}
.sixth button:hover{
    background-color: white;
    color: #3f3e3e;
    transition: 0.5s ease;
}
.sixth h1{
    font-weight: 300;
    font-size: 40px;
}
.sixth span{
   max-width: 100px; 
   font-weight: 300;

}
.sixth img{
    float: right;
    height: 500px;
    width: 50%;
    position: absolute;
}
.seventh{
    width: 100%;
    background-color: black;
    height: 1000px;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.seventh h1{
    text-align: center;
    padding-top: 40px;
    font-size: 60px;
}
.seventh .question{
    width: 40%;
    padding: 5px;
    border-bottom: 1px inset black;
    margin-left: 50px;
    font-size: 25px;
    font-weight: 200;
}
.seventh img{
    height: 300px;
    float: right;
    border-radius: 20px;
    position: relative;
    top: -200px;
    right: 50px;
}
.seventh h2{
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 180px;
    font-weight: 500;
    font-size: 30px;
}
.update-box{
    width: 80%;
    height: 200px;
    margin: auto;
    background: #3f3e3e;
    position: relative;
    top: 250px;
    border-radius: 20px;
    padding: 20px 50px 0px 50px;
}
.update-box input{
    width: 85%;
    position: absolute;
    padding: 5px 10px;
    margin-top: 20px;
    color: #3f3e3e;
    border-radius: 10px;
    border: none;
}
.update-box button{
    background: #000;
    color: #ffffff;
    padding: 5px 25px;
    border-radius: 25px;
    border: none;
    margin-top: 20px;
    margin-left: 45%;
    cursor: pointer;
}
.update-box button:hover{
    background: white;
    color: #3f3e3e;
    transform: scale(1.02);
    transition: 0.5s ease;
}
.footer{
    width: 100%;
    height: 150px;
    padding: 50px;
}
.footer h1{
    font-weight: 200;
}
.footer h2{
    font-size: 13px;
    float: inline-start;
    font-weight: 300;
}
.footer .right{
    float: right;
    margin-right: 150px;
    font-size: 13px;
}